@using Microsoft.AspNetCore.Identity
@using YallaMasar.Data.Models.Users;
@using Microsoft.AspNetCore.Mvc.Localization;
@using YallaMasar;

@inject IHtmlLocalizer<SharedResource> Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<li class="duration-150 transition-all border-b-2 border-transparent hover:border-gray-700 dark:hover:border-white">
		<a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
			@Localizer["Hello"] @User.Identity?.Name!
		</a>
	</li>

	<li class="duration-150 transition-all border-b-2 border-transparent hover:border-gray-700 dark:hover:border-white">
		<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
		asp-route-returnUrl='@Url.Page("/", new { area = "" })' method="post">
			<button type="submit" class="nav-link btn btn-link text-dark">
				@Localizer["Logout"]
			</button>
		</form>
	</li>
}
else
{
	<li class="duration-150 transition-all border-b-2 border-transparent hover:border-gray-700 dark:hover:border-white">
		<a class="" asp-area="Identity" asp-page="/Account/Register">
			@Localizer["Register"]
		</a>
	</li>

	<li class="duration-150 transition-all border-b-2 border-transparent hover:border-gray-700 dark:hover:border-white">
		<a class="" asp-area="Identity" asp-page="/Account/Login">
			@Localizer["Login"]
		</a>
	</li>
}

